.repoSelector {
    width: 100%;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}

.selectContainer {
    width: 100%;
    position: relative;
}

.repoSelect {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    height: 200px; /* Adjust height as needed */
}

.loading {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}
